* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4 {
    font-size: 1.5rem;
}

p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.App {
    text-align: center;
}

.App__header {
    width: 100%;
}

.box {
    background-color: #f5f6f7;
    border: 2px solid #ccc;
    padding: 2rem;
}